<!-- Navigation -->
<nav class="navbar" id="navbar">
    <div class="nav-container">
        <div class="nav-logo">
            <img src="assets/images/logo-hq.png" alt="Wellhead Equipment Engineers" class="logo">
        </div>
        <ul class="nav-menu" id="nav-menu">
            <li class="nav-item">
                <a href="index.html" class="nav-link" data-page="index.html">Home</a>
            </li>
            <li class="nav-item">
                <a href="services.html" class="nav-link" data-page="services.html">Services</a>
            </li>
            <li class="nav-item">
                <a href="about.html" class="nav-link" data-page="about.html">About</a>
            </li>
            <li class="nav-item">
                <a href="products.html" class="nav-link" data-page="products.html">Products</a>
            </li>
            <li class="nav-item">
                <a href="projects.html" class="nav-link" data-page="projects.html">Projects</a>
            </li>
            <li class="nav-item">
                <a href="contact.html" class="nav-link" data-page="contact.html">Contact</a>
            </li>
        </ul>
        <div class="hamburger" id="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</nav>